[submodule "bin/git-friendly"]
	path = bin/git-friendly
	url = https://github.com/jamiew/git-friendly.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
	branch = master
